<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Station Name</th>
        <th>Description</th>
        <th>Unleaded price</th>
        <th>Diesel price</th>
    </tr>
    </thead>
    <tbody>
    {{#each placemark.stations}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{unleaded_price}}
            </td>
            <td>
                {{diesel_price}}
            </td>
            <td>
                <a href="/placemark/{{../placemark._id}}/deletestation/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
