<p>Test in list-station-analytics</p>

<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Station Name</th>
        <th>Lowest Unleaded price</th>
        <th>Highest Unleaded price</th>
        <th>Lowest Diesel price</th>
        <th>Highest Diesel price</th>
    </tr>
    </thead>
    <tbody>
    {{#each station}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{unleaded_price}}
            </td>
            <td>
                {{unleaded_price}}
            </td>
            <td>
                {{diesel_price}}
            </td>
            <td>
                {{diesel_price}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>